<h1>{{repository.name}}</h1>
<p>{{repository.description}}</p>
<form action="/update/{{repository._id}}" method="POST"><button class="btn waves-effect waves-light">Modificar</button></form>
{{#if update}}
  <form action="/update-repository/{{repository._id}}" method="POST">
    <label for="">Nombre: </label>
    <input type="text" name="name" value="{{repository.name}}">
    <label for="">Descripción: </label>
    <input name="description" id="" cols="30" rows="10" value="{{repository.description}}"></input>
    <button class="btn waves-effect waves-light" type="submit">Actualizar</button>
  </form>
{{/if}}
<h3>Documents</h3>
<ul>
  {{#each documents}}
    <ol>{{this.name}}-{{this.created_at}} versión: {{this.version }} 
      {{#if this.locationUrl}}<a href="{{this._id}}">Cargar nueva version</a>{{/if}} </ol>
    {{#if this.content}}
    <form action="/edit-created/{{this.id}}" method="POST">
      <button class="btn waves-effect waves-light" type="submit">Editar</button>
    </form>
    {{/if}}
    <a href="/documents/delete/{{this.id}}"><button class="btn waves-effect waves-light">Borrar</button></a>
  {{/each}}
</ul>
<button class="btn waves-effect waves-light">Subir Documento</button>
<a href="/new-document/{{repository.id}}"> <button class="btn waves-effect waves-light">Crear documento</button></a> 
{{!-- 
<form action="/new-document/{{repository.id}}">
<label for="">Nombre:</label>
<input type="text" name="name">
<label for="">Descripción: </label>
<input type="text" name="description">
<button type="submit">Comienza a editar</button>
</form> --}}

<div>
  <form action="/createDocument" method="post">
    <h2>Subir nuevo documento</h2>
    <input type="text" value="{{repository._id}}" hidden="hidden" name="repository" >
    <input type="file" name="name">
    <textarea name="description" id="txtDescripcion" cols="50" rows="3"></textarea>

    <button class="btn waves-effect waves-light" type="submit">Cargar</button>
  </form>
</div>
